<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Masters Blog!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
             {#{{ encore_entry_link_tags('app') }}#}
            <!-- Font Awesome Icons -->
            <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
            <!-- overlayScrollbars -->
            <link rel="stylesheet" href=" {{ asset('plugins/bs-stepper/css/bs-stepper.css')}}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/dropzone/min/dropzone.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- jQuery -->
            <script src="{{ asset('plugins/jquery/jquery.min.js') }}" ></script>
            <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}" defer></script>
            <!-- Bootstrap -->

            <script src="{{ asset('plugins/bs-stepper/js/bs-stepper.min.js') }}" defer></script>
            <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}" defer></script>
            <!-- overlayScrollbars -->
            <script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}" ></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('dist/js/adminlte.js') }}" defer></script>
            <script src="{{ asset('plugins/dropzone/dropzone.js') }}" defer></script>


            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('dist/js/demo.js') }}" defer></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('dist/js/pages/dashboard.js') }}" defer></script>
        {% endblock %}
    </head>

        {% block body %}{% endblock %}

</html>
